.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.339);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
